<ion-header>
    <ion-toolbar color="secondary">
      <ion-title text-center>Sign up</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <img (click)="buscarFoto()" class="icon" *ngIf="icon" src="assets/icon/icon.png" alt="">
    <ion-img  (click)="buscarFoto()" class="icon" *ngIf="image" [src]="image"></ion-img>
  
    <ion-item>
        <ion-label position="floating" > Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
      </ion-item>
  
  <ion-item>
    <ion-label position="floating" > Email</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" > Password</ion-label>
    <ion-input  type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <br>
  <ion-button color="secondary" expand="block" (click)="UploadImg()">Sign up</ion-button>
  <br>
  <p text-center routerLink="/login">LogIn</p>
  
  
  </ion-content>