<ion-header>
    <ion-toolbar color="dark">
      <ion-button slot="start" fill="clear" (click)="close()">
        <ion-icon style="color:#ffff; font-size:25px;" name="arrow-round-back"></ion-icon>
      </ion-button>
      <ion-title>
        Comments
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-list>
          <ion-item *ngFor ="let comment of comments">
            <ion-avatar slot="start">
              <ion-img [src]="comment.ruta"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2> <b>{{comment.nombre}}</b> </h2>
              <p>{{comment.comment}}</p>
            </ion-label>
          </ion-item>
      </ion-list>
    
  </ion-content>

  <ion-footer>
      <ion-toolbar>
            <ion-textarea placeholder="Write a comment" rows="1"></ion-textarea>
            <ion-button slot="end" (click)="addComment()"  fill="clear"  color="dark"  ion-button icon-start clear>
                <ion-icon name="send" style="font-size:25px;"></ion-icon>
              </ion-button>
      </ion-toolbar>
  </ion-footer>