
<ion-header>
  <ion-toolbar color="orange">
      <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
          <ion-icon style="color:#fff" name="menu"></ion-icon>
        </ion-button>
        <ion-button slot="start" fill="clear" (click)="profile()">
          <ion-icon style="color:#ffff; font-size:35px;" name="contact"></ion-icon>
        </ion-button>
    <ion-title text-center>
      Moments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of posts">
      <ion-item [routerLink]="['/profile',item.idUs]">
          <ion-avatar slot="start">
            <img [src]="item.imgU">
          </ion-avatar>
          <p><b>{{item.user}}</b></p>
      </ion-item>
      <ion-card-subtitle padding>{{item.description}}</ion-card-subtitle>
      <ion-img [src]="item.image"></ion-img>
    <ion-card-content padding>
        <ion-row>
            <ion-badge color="orange"> 
              {{item.user}}
            </ion-badge>
        </ion-row>   
        <ion-grid>
          <ion-row>
              <ion-col col-4>
                <ion-button  color="dark" fill="clear"  ion-button icon-start clear >
                  <ion-icon name="football" style="font-size:25px;"></ion-icon>
                  <div>{{item.likes}}</div>
                </ion-button>
              </ion-col>
              <ion-col col-4>
                <ion-button (click)="comment()" color="dark"  fill="clear" ion-button icon-start clear>
                  <ion-icon name="md-chatboxes" style="font-size:25px;"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col col-4>
                  <ion-button color="dark" fill="clear" (click)="share(item)" ion-button icon-start clear >
                      <ion-icon name="share" style="font-size:25px;"></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
        </ion-grid> 
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end"  (click)="OpenModal()" slot="fixed">
      <ion-fab-button color="orange">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
